<div class="card">
  <div class="card-header bg-info text-white">
    <h5>Add a new product (Reactiv)</h5>
  </div>
  <div class="card-body d-flex justify-content-center">
    <form class="col-md-6" [formGroup]="productForm" (ngSubmit)="addProduct()">

      <div class="mb-3">
        <label for="productId" class="form-label">Product id</label>
        <input type="number" formControlName="productId" class="form-control" id="productId" name="productId">
      </div>

      <div class="mb-3">
        <label for="productTitle" class="form-label">Product title</label>
        <input type="text" formControlName="productTitle" class="form-control" id="productTitle">
      </div>

      <div class="mb-3">
        <label for="unitPrice" class="form-label">Unit price</label>
        <input type="number" formControlName="unitPrice" class="form-control" id="unitPrice">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="productForm.invalid" class="btn btn-outline-success">Submit</button>
      </div>

    </form>
  </div>
  <div class="card-footer text-muted">
    <div class="alert alert-danger" *ngIf="productForm.get('productId')?.touched && productForm.get('productId')?.invalid">The ID is required !</div>
    <div class="alert alert-danger" *ngIf="productForm.get('productTitle')?.touched && productForm.get('productTitle')?.invalid">The title is required and substring up to 5 caract.</div>
    <div class="alert alert-danger" *ngIf="productForm.get('unitPrice')?.touched && productForm.get('unitPrice')?.invalid">The ID is required !</div>

    <div class="alert alert-danger" *ngIf="sendError">L'id <b>{{productForm.get('productId')}}</b> existe déjà dans la liste !</div>
  </div>
</div>
