<div class="card">
  <div class="card-header bg-info text-white">
    <h5>Product details: {{product.title}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img src="https://placehold.co/150x150" class="img-fluid rounded" alt="Image de remplacement">
      </div>
      <div class="col-md-6 align-middle">

        <div class="row mb-3">
          <div class="col-md-3">Id</div>
          <div class="col-md-6">{{product.id}}</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Title</div>
          <div class="col-md-6">{{product.title}}</div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">Price</div>
          <div class="col-md-6 fw-bold text-danger">{{product.unitPrice | currency:'EUR':true}}</div>
        </div>

      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="d-grid gap-2 col-md-6 offset-md-3">
      <button type="button" name="" id="" (click)="addProductToCart()" class="btn btn-primary">Ajouter au panier</button>
    </div>
  </div>
</div>


